{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

<h1>Hello world! Your language is <strong>{{ LANGUAGE_CODE }}</strong>.</h1>

<div>
	<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
		<input name="next" type="hidden" value="/">
		<select name="language">
			{% get_available_languages as LANGUAGES %}
			{% get_language_info_list for LANGUAGES as languages %}
			{% for language in languages %}
			<option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
				{{ language.name_local }} ({{ language.code }})
			</option>
			{% endfor %}
		</select>
		<input type="submit" value="Go">
	</form>
</div>

<p>Have a look at the Link response header in your browser's debugging console.</p>

